*{
    box-sizing: border-box;
    
}

body{
    background-color: rgb(189, 195, 201);
}

.navbar{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;

    align-items: center;

    background-color:gainsboro;
    box-shadow: 0px 2px 3px 3px gray;
}

.cart{
    margin-left: auto;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 20%;
    position: relative;
}

.cart img{
    width: 50px;   
}

.cart .cartNumber{
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    border: 1px solid rgb(170, 23, 23);
    background-color: rgb(170, 23, 23);

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    
   

}