*{
    box-sizing: border-box;
    
}

body{
    background-color: rgb(189, 195, 201);
}

.navbar{
    display: flex;

    padding: 1rem;
    gap: 1rem;

    align-items: center;

    background-color:gainsboro;
    box-shadow: 0px 2px 3px 3px gray;

    position: sticky;
	top: 0;
}

.cart{
    margin-left: auto;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 20%;
    position: relative;
    transition: background-color .5s ease-out;

    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cart:hover{
    background-color: aliceblue;
}

.cart img{
    padding-top: 3px;
    padding-right: 3px;
    width: 50px;   
}

.cart .cartNumber{
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    border: 1px solid rgb(170, 23, 23);
    background-color: rgb(170, 23, 23);

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
}

.storeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.card{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    padding: 1rem;
    margin: 1rem;
    border-radius:1rem;
    box-shadow: 0 0 5px 5px rgb(99, 99, 99);
    
    .cardImg{
        height: 350px;
        width: 350px;
        object-fit:scale-down;
        background-color: white;
        border-radius: 1rem;
        /* padding: 1rem; */
        margin: 1rem;
        box-shadow: 0 0 5px 3px rgb(50, 50, 50);
    }
}